body {
    margin:0px;
}
header {
    overflow: hidden;
    background-color: #3D6898;
    padding: 20px 10px;
}

header a {
    display: inline;
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

header a.logo {
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
}

header a.username {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}

header img.imgLog {
    width: 40px;
    height: auto;
}

header img.imgLog:hover {
    background-color: #ddd;
    border-radius: 5px;
}

header .login {
    font-size: 30px;
    border-radius: 5px;
}
.hidden {
    display: none;
}

header .login:hover {
    background-color: #ddd;
    border-radius: 5px;
}
.header-right {
    display: inline-flex;
    float: right;
}

footer {
    overflow: hidden;
    background-color: #3D6898;
    padding: 5px 10px;
}

footer p.name {
    color: #001433;
    font-size: 20px;
    float: left;
}

footer p.bottomlogo {
    color: #FFFFFF;
    font-size: 30px;
    float: left;
    position: relative;
    left: 30%;
}

footer p.date {
    color: #C5D0DB;
    font-size: 15px;
    float: left;
    position: relative;
    left: 22.6%;
}

footer p.email {
    color: #001433;
    font-size: 20px;
    float: right;
}
main {

    background-color: #E7E8EC;
}
.up {
    padding: 10px 5px;
    display: inline-flex;
}
.add-post {
    float: left;
    font-size: 25px;
    text-decoration: underline;
    color: #5181B8;
}
.FilterBy {
    padding-left: 40px;
    font-size: 25px;
    font-weight: bold;
    color: #5181B8;
}
.filter {
    padding-top: 7px;
    padding-left: 20px;
}
.acceptFilters {
    color: #FFFFFF;
    -webkit-appearance: button;
    background-color: #2A5885;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    height: 20px;
    margin-top: 8px;
    margin-left: 10px;
    width: 30px;
}
.main {
    margin: 5px;
    display: block;
    width: 30pc;
    border: 1px solid #001433; /* Параметры границы */
    padding: 5px;
    background: #FFFFFF; /* Цвет фона */
    margin-left: 24pc;
}
.author {
    font-size: 35px;
    font-weight: bold;
    color: #3D6898;
}
.postDate {
    font-size: 25px;
    color: #5181B8;
}
button {
    background: none;
    border: none;
}
button:hover {
    background-color: #ddd;
    border-radius: 5px;
}
.photos {
    display: block;
    width: 30pc;
    height: auto;
    border: 1px solid #C5D0DB;
}
.icons {
    display: inline-block;
    width: 20px;
    height: auto;
}
.edit_icon {
    height: 23px;
    width: auto;
}
.like_icon {
    width: 30px;
    height: auto;
    background: none;
}
.hashtags {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #597DA3;
}
.description {
    border: 1px solid #C5D0DB;
    width: 30pc;
    border-radius: 3px;
    background: #dddddd;
    margin-top: 0px;
    color: #2A5885;
    font-size: 20px;
}
.load {
    font-size: 25px;
    color: #FFFFFF;
    background-color: #2A5885;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    height: 40px;
    margin-left: 35pc;
    width: 170px;
}
.switch {
    display: inline-flex;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topmenu > li:last-child {
    margin-left: -10px;
    width: 50px;
    height: auto;
}
.switch a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}
#switcher {
    margin-bottom: -5px;
}
.submenu {
    position: absolute;
    width: 100px;
}
.switch ul a {
    color: #5181B8;
}
.switch .submenu {
    display: none;
    background: #dddddd;
}
.switch ul li:hover .submenu {
    display: block;
}
.add-post-container {
    color: #3D6898;
    font-size: 25px;
    background-color: #E7E8EC;
    width: 30pc;
    margin-left: 25pc;
    margin-top: -25px;
}
.edit-post-container {
    color: #3D6898;
    font-size: 25px;
    background-color: #E7E8EC;
    width: 30pc;
    margin-left: 25pc;
    margin-top: -25px;
}
.add-post-upload-button {
    border: 0.5px solid #001433;
    background-color: #C5D0DB;
}
.add-post-add-button {
    font-size: 20px;
    color: #FFFFFF;
    background: #5181B8;
}
.edit-post-add-button {
    font-size: 20px;
    color: #FFFFFF;
    background: #5181B8;
}